#mid_slider { 
	position: relative; 
	float: right; 
	width: 460px; 
	height: 327px; 
	background: url(../images/tooplate_slider_frame.png); 
}

#slider1 { 
	position: absolute; 
	width: 420px; 
	height: 220px; 
	top: 20px; 
	left: 20px; 
	overflow: hidden; 
}

#paginate-slider1 { 
	position: absolute; 
	bottom: 50px; 
	right: 20px; 
}

}